DEEPSEEK_API_KEY=rc_07b5616e382f91e07042e078e4db341c736df0e90d9f7bebc4a8ed75d3b20e09
OPENAI_BASE_URL=https://api.deepseek.com/v1
OPENAI_MODEL=deepseek-chat
BREETH_API_KEY=ck_live_EUjjnkSS13R02tz03diFCrOV_9FG5TGQwKbYc1TzX2Y
BREETH_GROUP_ID=curriculum
LLM_ENABLED=true
